.index-container {
  animation: fadeIn 1s .5s backwards;
  opacity: 1;
  overflow-y: hidden;
  position: relative;


  & img {
    width: 1200px;
    height: 100vh;
    object-fit: cover;
    object-position: bottom;
  }
}

.index-container.mobile {
  display: none;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--lorem-academy-white);

  & > i {
    font-size: 8rem;
    margin: 2rem 0;
    color: var(--lorem-academy-color);
    opacity: .2;
  }

  & h2 {
    font-size: 2rem;
    & i {
      color: var(--lorem-academy-color);
    }
  }

  & p {
    width: 50%;
    text-align: center;
  }
}

@media screen and (max-width: 1000px) {
  .overlay-container {
    display: none;
  }

  .home-container {
    display: none;
  }

  .index-container {
    display: none;
    /* & img {
      display: none;
    }

    & .login-container {
      width: 100%;
      min-width: 100%;
      padding: 1rem;

      & h1 {
        font-size: 2.9rem;
        margin-top: 40%;
      }

      & p {
        margin-bottom: auto;
      }
    } */
  }

  .index-container.mobile {
    display: flex;
  }
  
}