.side-bar {
  padding: 1rem;
  min-width: 400px;
  width: 400px;
  height: 100vh;
  background-color: var(--lorem-academy-white);
  transition: .2s;

  
 & .user-container {
    display: flex;
    gap: .5rem;

    & img {
      width: 50px;
      aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: .5rem;
    }

   & .username {
      display: flex;
      flex-direction: column;

      & h1 {
        font-size: 1.5rem;
      }

      & h2 {
        font-size: .8rem;
        opacity: .5;
      }

    }
  }

  & hr {
    margin: 1rem 0;
  }

  & h3:first-of-type {
    margin-bottom: 1rem;
  }

  & ul {

    & li {
      list-style-type: none;

      & span {
        margin-right: .3rem;
      }

      & a {
        justify-content: flex-start;
        font-size: 1rem;
        border: none;
        color: black;
        margin: 0;
        display: block;
        background-color: transparent;
        padding: .5rem;
        width: 100%;
        border-radius: .5rem;
        transition: .2s;

        &:focus {
          background-color: var(--lorem-academy-focus);
          color: var(--lorem-academy-color);
          padding-left: 1rem;
        }

        & i {
          margin-right: .5rem;
        }
      }
    }
  }

  & .lorem-academy-logo {
    margin-top: auto;
    text-transform: capitalize;

  }

  & a {
    color: var(--lorem-academy-white);
    background-color: var(--lorem-academy-color);
    padding: .5rem 1rem;
    width: fit-content;
    border-radius: .5rem;
    margin: .5rem 0;
    text-decoration: none;
  }
}


.rightbar-container {
  width: max-content;
  width: 100%;



  .meeting-container {
    height: 50vh;
    background-color: var(--lorem-academy-bg);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;

    & h2, h3  {
      color: var(--lorem-academy-color);
    }

    & h4, h5 {
      color: black;
    }
    & h3 {
      margin-top: 1rem;
    }
  }

  .chat-container {
    background-color: var(--lorem-academy-white);
    height: 50vh;

    & h2 {
      margin-bottom: 1rem;
    }
    .user {
      position: relative;
      gap: .5rem;
      margin-bottom: 1rem;
      width: 100%;
      padding: .5rem 0;
      border-radius: 2rem;
      border: none;
      background-color: transparent;
      transition: .2s;

      &:hover, 
      &:focus {
        background-color: var(--lorem-academy-focus);
      }

      &::before {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        background-color: rgb(192, 4, 4);
        z-index: 3;
        border-radius: 2rem;
        top: 2.3rem;
        border: 2px solid var(--lorem-academy-white);
        left: 1.7rem;
      }

      & img {
        width: 40px;
        object-fit: cover;
        aspect-ratio: 1/1;
        border-radius: 2rem;

      }

      & h5 {
        font-size: .9rem;
      }
    }

    .user:nth-of-type(2){
      &::before {
        background-color: rgb(180, 180, 180);
      }
    }
    .user:nth-of-type(3){
      &::before {
        background-color: #00a400;
      }
    }
  }
}
