@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

:root {
  --stickynote-font: 'Handlee', script; 
  --lorem-academy-color: rgb(58, 5, 235); 
}


*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
}

.a_flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.b_flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.c_flex {
  display: flex;
  flex-direction: column;
}

.d_flex {
  display: flex;
}